{% extends "base.html" %} 
{% load static %} 
{% block content %}
<div class="container ml-5 mr-auto">
  <nav class="navbar navbar-expand-lg navbar-dark bg-white border">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link mr-3 text-dark" href="{% url 'account_card' 'info' %}">个人资料</a>
        </li>
        <li class="nav-item mr-3">
          <a class="nav-link mr-3 text-dark border" href="{% url 'account_card' 'orders' %}">个人订单</a>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <div class="table">
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>订单名</th>
            <th>订单状态</th>
            <th>订单价格</th>
            <th>购买时间</th>
            <th>订单内容</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ order.name }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.caculate_total_price }}</td>
            <td>{{ order.purchase_time }}</td>
            <td>
              {% for ticket in order.tickets.all %}
              <p> {{ ticket.name }} {{ticket.scenic_spot.ticket_price }}￥ </p>
              {% endfor %}
              <a class="btn btn-success pay-order-btn" href="{% url 'alipay' %}?order_id={{ order.pk }}">支付订单</a>
            </td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
